<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phant.appfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App Food"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Options.View.OptionsActivity"
            android:theme="@style/AppTheme.NoActionbar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Register.View.RegisterActivity" />
        <activity
            android:name=".Client.Menu.View.MenuClientActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.Menu.View.MenuAdminActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".Client.Order.View.OrderClientActivity" />
        <activity android:name=".Client.Chat.View.ChatClientActivity" />
        <activity android:name=".Admin.Chat.View.ChatAdminActivity" />
        <activity android:name=".Client.Order.View.OrderClientCartActivity">

        </activity>
    </application>

</manifest>